body {
    background: #1a1a1a;
    color: #e1e9f3;
}

.container {
    margin: 0 4em;
    background: #353535;
    height: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 2em;
    color: #e1e9f3;
    font-size: 2em;
    font-weight: normal;
}
