.link{
    margin-right: 1em;
    text-decoration: none;
    color: #e1e9f3;
    font-size: 1.5em;
    // background: linear-gradient(155deg, #ffb056, #a200ff); // We will need to generate gradient colors to complement the background.
    // -webkit-background-clip: text;
    // background-clip: text;
    // //-moz-background-clip: text;
    // -webkit-text-fill-color: transparent;
    &:hover{
        border-bottom: 1px solid white;
    }
}

.container{
    margin-top: 4em;
}