// @mixin gradient($direction, $list) {
//     background: linear-gradient(135deg, #ec7e00, #59008d);
// }

.paragraph {
    padding: 0 12em 0;
    width: 80%; 
    white-space: pre-wrap;
    h4 {

        margin-top: 2em;
        color: #e1e9f3;
        background-clip: text;
        font-size: 1.5em;
        font-weight: normal;
    }
}

