// @mixin gradient($direction, $list) {
//     background: linear-gradient(135deg, #ec7e00, #59008d);
// }

.paragraph {
    padding: 0 12em;
    h4 {
        margin-top: 2em;
        color: #e1e9f3;
        background-clip: text;
        font-size: 1.5em;
        font-weight: normal;
    }
}

h3{
    background: linear-gradient(155deg, #ff9011, #8100cc); // We will need to generate gradient colors to complement the background.
    -webkit-background-clip: text;
    background-clip: text;
    //-moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}